.InfoDisplayBottom-line {
  /* Space-between icon and text */
  --space: 0.8125rem;

  display: flex;
  margin-bottom: 1rem;
}

.InfoDisplayBottom-link {
  text-decoration: none;
  color: var(--color-greyish-blue);
}

.InfoDisplayBottom-link:hover,
.InfoDisplayBottom-link:focus {
  text-decoration: underline;
}

/* Activates when links are null/unavailable */
.inactive:hover,
.inactive:focus {
  text-decoration: none;
  pointer-events: none;
  cursor: none;
}

.InfoDisplayBottom-line img {
  height: 20px;
  max-width: 20px;
  margin-right: var(--space);
}

.location {
  margin-right: 1.203125rem;
}

@media (min-width: 600px) {
  .InfoDisplayBottom {
    display: flex;
    gap: 62px;
  }
}
