.InfoDisplayHeader {
  display: flex;
  margin-bottom: 2.0625rem;
}

.InfoDisplayHeader-img {
  border-radius: 100%;
  height: 70px;
  margin-right: 1.1875rem;
}

.InfoDisplayHeader-login {
  color: var(--color-blue);
}

.InfoDisplayHeader-date {
  color: var(--color-dark-grey);
}

.InfoDisplayHeader-col-2 {
  width: 100%;
}

@media (min-width: 600px) {
  .InfoDisplayHeader {
    margin-bottom: 1.3rem;
  }

  .InfoDisplayHeader-img {
    margin-right: 2.3125rem;
    height: 117px;
  }
}

@media (min-width: 900px) {
  .InfoDisplayHeader {
    margin-bottom: 0;
  }

  .InfoDisplayHeader-col-2 {
    display: flex;
    justify-content: space-between;
  }
}
