*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /**** Colors ****/
  /* Shared */
  --color-blue: #0079ff;

  /* Light Mode */
  --color-dark-grey: #697c9a;
  --color-greyish-blue: #4b6a9b;
  --color-black-light: #2b3442;
  --color-light-grey: #f6f8ff;
  --color-off-white: #fefefe;

  /* Dark Mode */
  --color-white: #ffffff;
  --color-black-dark: #141d2f;
  --color-lighter-black-dark: #1e2a47;

  /**** Fonts ****/
  /* font-size: 26px line-height: 38px */
  --h1: bold 1.75rem/2.375rem "Space Mono", monospace;
  /* font-size: 22px line-height: 33px */
  --h2: bold 1.375rem/2.0625rem "Space Mono", monospace;
  /* font-size: 16px line-height: 24px */
  --h3: 1rem/1.5rem "Space Mono", monospace;
  /* font-size: 13px line-height: 20px */
  --h4: 0.8125rem/1.25rem "Space Mono", monospace;
  /* font-size: 15px line-height: 25px */
  --body-text: 0.9375rem/1.5625rem "Space Mono", monospace;
}

html {
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

body {
  font: var(--body-text);
  color: var(--color-greyish-blue);
}

@media (max-width: 600px) {
  /* It seems the mobile typography differs from the tablet/desktop */
  :root {
    /* font-size: 16px line-height: 24px */
    --h1: bold 1rem/1.5rem "Space Mono", monospace;
    /* font-size: 16px line-height: 24px */
    --h2: bold 1rem/1.5rem "Space Mono", monospace;
    /* font-size: 13px line-height: 19.25px */
    --h3: 0.8125rem/1.203125rem "Space Mono", monospace;
    /* font-size: 11px line-height: 16px */
    --h4: 0.6875rem/1rem "Space Mono", monospace;
    /* font-size: 13px line-height: 25px */
    --body-text: 0.8125rem/1.5625rem "Space Mono", monospace;
  }
}
